
/*#main{
    display: flex;
    justify-content: center;
    width: 700px;
}*/
/*TOP NAV*/
.topnav {
    background-color: #1761a0 ;
    overflow: hidden;
  }
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: system-ui;
    font-size: 15px;
    font-weight: bolder;
  }
  .topnav a:hover {
    background-color: #ddd;
    color:#535353;
  }
  .topnav a.active {
    background-color:#333;
    color: white;
  } 
.one{
    display:flex;
    justify-content:center;
    margin-top: 20px;
}
.two{
    display:flex;
    justify-content:center;  
}
.form{
    display:flex;
    justify-content:center;
    border: 1px solid;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 35%; 
    margin-right: 35%; 
}
#table{
    font:17px serif ;
    width: 70%;  
}
#table, th, td{
    border: solid 1px #DDD;
    border-collapse: collapse; padding: 2px 3px; text-align: center;
}
#registered-div{
    display:flex;
    justify-content:center;
    margin-left: 40px;
    margin-right: 40px;
}